<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for HTML email with attachment</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{greeting(${name})}">
            Hello, Static Name:
        </p>
        <p th:if="${name.length() gt 10}">
            Long name (more than 10 chars)!
        </p>
        <p>
            You have been successfully subscribed to the <b>Example news feed</b> on
            <span th:text="${#dates.format(subscriptionDate)}">09-25-2012</span>
        </p>
        <p>Your accounts are:</p>
        <ul th:remove="all-but-first">
            <li th:each="account : ${accounts}" th:text="${account}">123</li>
            <li>456</li>
            <li>789</li>
        </ul>
        <p>
            You can find <b>your uploaded attachment</b> attached to this message.
        </p>
        <p>
            Regards, <br />
            &emsp; <em>Mail API</em>
        </p>
    </body>
</html>
